<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">

	<!-- Hero Section -->
	<!-- wp:cover {"dimRatio":0,"overlayColor":"light-gray","minHeight":500,"minHeightUnit":"px","contentPosition":"center center","isDark":false,"style":{"spacing":{"padding":{"top":"var:preset|spacing|100","bottom":"var:preset|spacing|100","left":"var:preset|spacing|90","right":"var:preset|spacing|90"}}},"layout":{"type":"constrained","wideSize":"1280px"}} -->
	<div class="wp-block-cover is-light" style="padding-top:var(--wp--preset--spacing--100);padding-right:var(--wp--preset--spacing--90);padding-bottom:var(--wp--preset--spacing--100);padding-left:var(--wp--preset--spacing--90);min-height:500px"><span aria-hidden="true" class="wp-block-cover__background has-light-gray-background-color has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container">
		<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
		<div class="wp-block-group">
			<!-- wp:heading {"textAlign":"center","level":1,"textColor":"black","fontSize":"5-x-large"} -->
			<h1 class="wp-block-heading has-text-align-center has-black-color has-text-color has-5-x-large-font-size">Get in Touch</h1>
			<!-- /wp:heading -->

			<!-- wp:paragraph {"align":"center","textColor":"black","fontSize":"medium","style":{"layout":{"selfStretch":"fixed","flexSize":"768px"}}} -->
			<p class="has-text-align-center has-black-color has-text-color has-medium-font-size">Have questions about ranked choice voting? Want to get involved? We'd love to hear from you.</p>
			<!-- /wp:paragraph -->
		</div>
		<!-- /wp:group -->
	</div></div>
	<!-- /wp:cover -->

	<!-- Contact Form and Info -->
	<!-- wp:group {"backgroundColor":"white","style":{"spacing":{"padding":{"top":"var:preset|spacing|110","bottom":"var:preset|spacing|110","left":"var:preset|spacing|90","right":"var:preset|spacing|90"}}},"layout":{"type":"constrained","wideSize":"1280px"}} -->
	<div class="wp-block-group has-white-background-color has-background" style="padding-top:var(--wp--preset--spacing--110);padding-right:var(--wp--preset--spacing--90);padding-bottom:var(--wp--preset--spacing--110);padding-left:var(--wp--preset--spacing--90)">
		<!-- wp:columns {"verticalAlignment":"top","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|100"}}}} -->
		<div class="wp-block-columns are-vertically-aligned-top">
			<!-- wp:column {"verticalAlignment":"top","width":"60%"} -->
			<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:60%">
				<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"flex","orientation":"vertical"}} -->
				<div class="wp-block-group">
					<!-- wp:heading {"textColor":"black","fontSize":"3-x-large"} -->
					<h2 class="wp-block-heading has-black-color has-text-color has-3-x-large-font-size">Send Us a Message</h2>
					<!-- /wp:heading -->

					<!-- wp:paragraph {"textColor":"dark-gray","fontSize":"base"} -->
					<p class="has-dark-gray-color has-text-color has-base-font-size">Fill out the form below and we'll get back to you as soon as possible. For urgent matters, please email us directly.</p>
					<!-- /wp:paragraph -->

					<!-- Contact Form Placeholder -->
					<!-- wp:group {"backgroundColor":"light-gray","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"var:preset|spacing|60","right":"var:preset|spacing|60"}},"border":{"radius":"12px"}},"layout":{"type":"constrained"}} -->
					<div class="wp-block-group has-light-gray-background-color has-background" style="border-radius:12px;padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)">
						<!-- wp:paragraph {"textColor":"black","fontSize":"base"} -->
						<p class="has-black-color has-text-color has-base-font-size"><strong>Contact Form</strong></p>
						<!-- /wp:paragraph -->

						<!-- wp:paragraph {"textColor":"dark-gray","fontSize":"small"} -->
						<p class="has-dark-gray-color has-text-color has-small-font-size">To add a contact form, install a form plugin like Contact Form 7, WPForms, or Gravity Forms, then insert the form shortcode here.</p>
						<!-- /wp:paragraph -->

						<!-- wp:paragraph {"textColor":"dark-gray","fontSize":"small"} -->
						<p class="has-dark-gray-color has-text-color has-small-font-size">Recommended fields: Name, Email, Subject, Message</p>
						<!-- /wp:paragraph -->
					</div>
					<!-- /wp:group -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"verticalAlignment":"top","width":"40%"} -->
			<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:40%">
				<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"flex","orientation":"vertical"}} -->
				<div class="wp-block-group">
					<!-- wp:heading {"textColor":"black","fontSize":"x-large"} -->
					<h3 class="wp-block-heading has-black-color has-text-color has-x-large-font-size">Contact Information</h3>
					<!-- /wp:heading -->

					<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"flex","orientation":"vertical"}} -->
					<div class="wp-block-group">
						<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","orientation":"vertical"}} -->
						<div class="wp-block-group">
							<!-- wp:paragraph {"style":{"typography":{"fontSize":"32px"}}} -->
							<p style="font-size:32px">📧</p>
							<!-- /wp:paragraph -->

							<!-- wp:heading {"level":6,"textColor":"black","fontSize":"base"} -->
							<h6 class="wp-block-heading has-black-color has-text-color has-base-font-size">Email</h6>
							<!-- /wp:heading -->

							<!-- wp:paragraph {"textColor":"primary","fontSize":"base"} -->
							<p class="has-primary-color has-text-color has-base-font-size"><a href="mailto:info@rcvmd.org">info@rcvmd.org</a></p>
							<!-- /wp:paragraph -->
						</div>
						<!-- /wp:group -->

						<!-- wp:separator {"backgroundColor":"light-gray"} -->
						<hr class="wp-block-separator has-text-color has-light-gray-color has-alpha-channel-opacity has-light-gray-background-color has-background"/>
						<!-- /wp:separator -->

						<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","orientation":"vertical"}} -->
						<div class="wp-block-group">
							<!-- wp:paragraph {"style":{"typography":{"fontSize":"32px"}}} -->
							<p style="font-size:32px">📱</p>
							<!-- /wp:paragraph -->

							<!-- wp:heading {"level":6,"textColor":"black","fontSize":"base"} -->
							<h6 class="wp-block-heading has-black-color has-text-color has-base-font-size">Phone</h6>
							<!-- /wp:heading -->

							<!-- wp:paragraph {"textColor":"black","fontSize":"base"} -->
							<p class="has-black-color has-text-color has-base-font-size">(410) 555-VOTE</p>
							<!-- /wp:paragraph -->
						</div>
						<!-- /wp:group -->

						<!-- wp:separator {"backgroundColor":"light-gray"} -->
						<hr class="wp-block-separator has-text-color has-light-gray-color has-alpha-channel-opacity has-light-gray-background-color has-background"/>
						<!-- /wp:separator -->

						<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","orientation":"vertical"}} -->
						<div class="wp-block-group">
							<!-- wp:paragraph {"style":{"typography":{"fontSize":"32px"}}} -->
							<p style="font-size:32px">📍</p>
							<!-- /wp:paragraph -->

							<!-- wp:heading {"level":6,"textColor":"black","fontSize":"base"} -->
							<h6 class="wp-block-heading has-black-color has-text-color has-base-font-size">Location</h6>
							<!-- /wp:heading -->

							<!-- wp:paragraph {"textColor":"black","fontSize":"base"} -->
							<p class="has-black-color has-text-color has-base-font-size">Annapolis, Maryland</p>
							<!-- /wp:paragraph -->
						</div>
						<!-- /wp:group -->
					</div>
					<!-- /wp:group -->

					<!-- wp:spacer {"height":"var:preset|spacing|60"} -->
					<div style="height:var(--wp--preset--spacing--60)" aria-hidden="true" class="wp-block-spacer"></div>
					<!-- /wp:spacer -->

					<!-- wp:heading {"textColor":"black","fontSize":"x-large"} -->
					<h3 class="wp-block-heading has-black-color has-text-color has-x-large-font-size">Follow Us</h3>
					<!-- /wp:heading -->

					<!-- wp:social-links {"iconColor":"black","iconColorValue":"#010305","size":"has-normal-icon-size","className":"is-style-logos-only"} -->
					<ul class="wp-block-social-links has-normal-icon-size has-icon-color is-style-logos-only">
						<!-- wp:social-link {"url":"#","service":"facebook"} /-->
						<!-- wp:social-link {"url":"#","service":"twitter"} /-->
						<!-- wp:social-link {"url":"#","service":"instagram"} /-->
						<!-- wp:social-link {"url":"#","service":"linkedin"} /-->
					</ul>
					<!-- /wp:social-links -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</div>
	<!-- /wp:group -->

	<!-- FAQ Section -->
	<!-- wp:group {"backgroundColor":"accent-lighter","style":{"spacing":{"padding":{"top":"var:preset|spacing|110","bottom":"var:preset|spacing|110","left":"var:preset|spacing|90","right":"var:preset|spacing|90"}}},"layout":{"type":"constrained","wideSize":"768px"}} -->
	<div class="wp-block-group has-accent-lighter-background-color has-background" style="padding-top:var(--wp--preset--spacing--110);padding-right:var(--wp--preset--spacing--90);padding-bottom:var(--wp--preset--spacing--110);padding-left:var(--wp--preset--spacing--90)">
		<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|60"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
		<div class="wp-block-group">
			<!-- wp:heading {"textAlign":"center","textColor":"black","fontSize":"3-x-large"} -->
			<h2 class="wp-block-heading has-text-align-center has-black-color has-text-color has-3-x-large-font-size">Have a Quick Question?</h2>
			<!-- /wp:heading -->

			<!-- wp:paragraph {"align":"center","textColor":"black","fontSize":"medium"} -->
			<p class="has-text-align-center has-black-color has-text-color has-medium-font-size">Check out our FAQ page for answers to common questions about ranked choice voting.</p>
			<!-- /wp:paragraph -->

			<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
			<div class="wp-block-buttons">
				<!-- wp:button {"backgroundColor":"secondary","textColor":"white","style":{"border":{"radius":"12px"},"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"fontSize":"base"} -->
				<div class="wp-block-button has-custom-font-size has-base-font-size"><a class="wp-block-button__link has-white-color has-secondary-background-color has-text-color has-background wp-element-button" href="/faq" style="border-radius:12px;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--40)">View FAQ</a></div>
				<!-- /wp:button -->
			</div>
			<!-- /wp:buttons -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
